<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<packages>
		<package id="MaterialDesignColors" version="2.0.0" targetFramework="net472" />
		<package id="MaterialDesignThemes" version="4.0.0" targetFramework="net472" />
	</packages>
    <ItemGroup>
        <COMReference Include="Microsoft.Office.Interop.Excel">
            <Guid>{00020813-0000-0000-C000-000000000046}</Guid>
            <VersionMajor>1</VersionMajor>
            <VersionMinor>7</VersionMinor>
            <Lcid>0</Lcid>
            <WrapperTool>primary</WrapperTool>
            <Isolated>False</Isolated>
            <EmbedInteropTypes>True</EmbedInteropTypes>
        </COMReference>
    </ItemGroup>
</configuration>